html{
    scroll-behavior: smooth;
}
.titleText{
    margin:auto;
    width:100%;
    text-align:center;
}
.dropdown{
    margin:auto;
    margin-bottom: 2vw;
    width:66%;
}
.dropdown-toggle{
    border-radius: 4px;
    outline-color:black;
    width:auto;
}

.table{
    font-size:100%;
    border:2px solid black;
    border-collapse: collapse;
    margin:auto;
    width:66%;
    padding:2vw;
}
.calculate{
    margin:auto;
    margin-top:4vw;
    width:50%;
}
.btn{
    margin-bottom:2vw;
}
.finalGrade{
    margin-bottom:2vw;
    margin-top: 2vw;
}
.className{
    display:inline;
    margin-left:10%;
    width:50%;
    font-size:150%; 
    text-align:center;
}
.dropdown-menu>li>a{
    font-size: 100%;
    margin-bottom:1.5vw;
    margin-top:1vw;
}
tr.gradeRow>td{
    padding:2vw;
    margin:2vw
}
.btn{
    margin-right:2vw;
}
.tableHead>tr{
    font-size:20px;
    font-weight:bold;
}
.logOutButton{
    margin-top:2vw;
}
